
module nrpe_ip 1.0;

require {
	type nrpe_t;
	type http_port_t;
	type traceroute_exec_t;
	type ifconfig_exec_t;
	class tcp_socket name_connect;
	class file { execute execute_no_trans getattr open read };
}

#============= nrpe_t ==============

allow nrpe_t http_port_t:tcp_socket name_connect;
allow nrpe_t ifconfig_exec_t:file { execute execute_no_trans getattr open read };
allow nrpe_t traceroute_exec_t:file { execute execute_no_trans getattr open read };
